<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533617235819-u1dfb6ottf49ole2hun7rof5tu5n3q9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533617235819-u1dfb6ottf49ole2hun7rof5tu5n3q9h</string>
	<key>API_KEY</key>
	<string>AIzaSyAcy0DKcj-D3Y67QPgem3d0OxhM9bIK-QY</string>
	<key>GCM_SENDER_ID</key>
	<string>533617235819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.domestiko</string>
	<key>PROJECT_ID</key>
	<string>domestiko-3beed</string>
	<key>STORAGE_BUCKET</key>
	<string>domestiko-3beed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533617235819:ios:1c2eb1dc91eebdd464de2e</string>
</dict>
</plist>